{% extends "layout.html" %}

{% block title %}
Buy
{% endblock %}

{% block main %}
    <form action="/buy" method="POST">
        <p>Stock Symbol</p>
        <div class="mb-3">
            <input name="symbol" autofocus class="form-control mx-auto w-auto" autocomplete="off" type="text" placeholder="Stock Symbol">
        </div>
        <p>Shares</p>
        <div class="mb-3">
            <input name="shares" autofocus class="form-control mx-auto w-auto" autocomplete="off" type="text" placeholder="Number of Shares">
        </div>
        <button class="btn btn-primary" type="submit" style="padding:1 rem;">Buy</button>
    </form>
{% endblock %}